.m{
  border: 1px solid black;
  padding-top: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.x{
  margin-left: 10px;
}
.App-link {
  color: #61dafb;
}
.x{
  background-color: transparent;
  border: 1px solid #ff0000;
  color:#ff0000;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.red{
  background-color: transparent;
  border: 1px solid #ff0000;
  color:#ff0000;
  border-radius: 5px;
}
.x:hover{
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}
.from{
  width: 100%;
  border: 1px solid black;
  height: 90vh;
    background-image: url("./fond.jpg");
    background-position: center;
  background-size: cover;
}
.net{
  width: 130px;
}
.frm{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 400px;
  cursor: pointer;
  border-radius: 5px;
}
.link{
     text-decoration: none;
     color: #ff0000;
     width: 100px;
}
.link:hover{
    color: rgb(255, 255, 255);
}
.video{
 -ms-transform: translateY(-40%);
 -moz-transform: translateY(-40%);
 -webkit-transform: translateY(-40%);
 transform: translateY(-0%);
}
.co{
  background-image: url("./fond.jpg");
  background-position: center;
  background-size: cover;
  height: 120vh;
}
.bg{
  background-color: black;
  color: wheat;
}